body {
    margin: 0;
    background: lightblue;
    padding-left: 20%;
}

#container{
    border-radius: 5px;
    background: #1F2937;
    width: 550px;
    height: 550px;
    top: 64px;
    bottom: 642px;
    position: absolute;
    color: white;
    padding: 10px 30px;
}

span{
    color: #4ADF86;
    size: 40px;
    font-weight: 800;
}

p{
    font-weight: 400;
    size: 20px;
    line-height: 28px;
}

button{
    top: 248px;
    left: 52px;
    background: #10B981;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
}
hr{
    border: 1px solid #2F3E53;
}

.box-parent{
    display: flex;
}

.box-child{
    background: #273549;
    color: #55F991;
    width: 180px;
    height: 32px;
    top: 400px;
    left: 67PX;
    font-weight: 500;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 5px;
}
